@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');




body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.main {
    background-image: url(./images/bg-hero-desktop.png);
}

a {
    text-decoration: none;
    color: inherit;
    
}



.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    margin-bottom: 25px;
    
}

.nav button { 
    background-color: white;
    height: 30px;
    border: 1.5px ;
    width: 190px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 1px rgb(198, 198, 198);
}


.nav img {
    width: 60%;
    height: 80%;
}
.intro {
    display: flex;
    padding: 0px 50px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    
    

}

.iLeft {
    width: 32%;
    margin-right: auto;
}

.iLeft h2 {
    font-family: 'Poppins';
    

}

.iLeft button {
    background-color: hsl(322, 100%, 66%);
    border: 1px ;
    border-radius: 18px;
    color: white;
    height: 40px;
    width: 200px;
    box-shadow: 1px 1px 5px 1px pink ;
    padding: 0px;
}   

.iRight {
    width: 60%;
}

.iRight img {
    width: 100%;

}


.cards {
    
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 100px 50px;

    
}

.card1, .card2, .card3 {
    height: 300px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 5% 2% 5% 8%;
    justify-content: space-between;
    box-shadow: 1px 1px 5px 1px rgb(230, 230, 230);
}

.cards img {
    width: 35%;
    height: 100%;
}

.card2 {
    flex-direction: row-reverse;
}


.para {
    width: 45%;
    color: gray;
    
}

.para .head {
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 25px;
    color: black;
}


.community {
    font-family: 'Poppins';
    background-color: white;
    width: 45%;
    margin: 0 auto;
    margin-top: 2em;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    box-shadow: 1px 1px 5px 1px rgb(230, 230, 230) ;
    gap: 15px;
    z-index: 1;
    position: relative;
    top: 3.5em;
    


}

.community h2 { 
    padding: 0;
    margin: 0;
}


.community button {
    background-color: hsl(322, 100%, 66%);
    border: 1px ;
    border-radius: 20px;
    color: white;
    height: 44px;
    width: 220px;
    box-shadow: 1px 1px 5px 1px pink ;
    padding: 0px;
}

/*#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(192, 100%, 9%);
    color: white;
    padding: 4em 0 2em 0;
    
}

#footer li {
    list-style-type: none;
    font-size: 12px;
}

#social {
    display: flex;
}

#fRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}*/




#Footer {
    font-size: 12px;
    padding: 5.5em 0 2em 0;
    width: 100vw;
    height: auto;
    display: grid;
    background-color: hsl(192, 100%, 9%);
    grid-template-columns: [col-start]3%[col2]25%[col3]18%[col4]20%[col5]22%[col-end];
    grid-template-rows: 4em  ;
    grid-auto-rows: min-content;
    color: rgb(181, 181, 181);
    justify-content: center;
 
    grid-template-areas: 
    "header header header header header"
    "sides1 sentences1 links1 links2 icons"
    "sides2 sentences2 links1 links2 ."
    "sides3 sentences3 . . copyright"
  
}


.header {
    grid-area: header;
    align-self: center;
}


.sides1 {
    grid-area: sides1;
}

.sides2 {
    grid-area: sides2;
}

.sides3 {
    grid-area: sides3;
}


.sentences1 {
    grid-area: sentences1;
    
}

.sentences2 {
    grid-area: sentences2;
}

.sentences3 {
    grid-area: sentences3;
}

.links1 {
    
    grid-area: links1;
    justify-self: center;
    
}

.links2 {

    grid-area: links2;
    justify-self:r;
    
}

.links1 ul{
    display: flex;
    flex-direction: column;
    gap: 1.8em;
}

.links2 ul {
    display: flex;
    flex-direction: column;
    gap: 1.8em;
}
.icons {
    grid-area: icons;
    justify-self: start;
    
}

ul {
    list-style-type: none;
}

.icons ul {
    display: flex;
    gap: 1em;
    padding: 0;
    
}

.copyright {
    grid-area: copyright;
}


ul a {

    text-decoration: none;
     color: rgb(181, 181, 181);
}

    
ul a:hover {
    text-decoration: underline;
}



